		<div class="calendar-panel">
			<div class="panel-heading">
				<div ng-click="move(-1)" class="thead move-cal">
					<span class="icon-leftarrow"></span>
				</div>
				<div class="thead cal-title">
					November
				</div>
				<div ng-click="move(1)" class="thead move-cal">
					<span class="icon-rightarrow"></span>
				</div>
			</div>
			<div class="panel-body">
				<div class="cal-row calendar-week-names">
					<div class="cal-cell">
						Sun
					</div>
					<div class="cal-cell">
						Mon
					</div>
					<div class="cal-cell">
						Tue
					</div>
					<div class="cal-cell">
						Wed
					</div>
					<div class="cal-cell">
						Thu
					</div>
					<div class="cal-cell">
						Fri
					</div>
					<div class="cal-cell">
						Sat
					</div>
				</div>
				<div class="tbody">
					<div class="cal-row">
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
					</div>
					<div class="cal-row">
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
						<div class="cal-cell">
							<span class="size-contain">&nbsp;
								<div class="cal-btn-contain">
									<button class="cal-btn">
										<span class="label">15</span>
									</button>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
