.calendar-panel{
	border        : 1px solid @color-border;
	position      : relative;
	margin-bottom : 10px;
	.border-radius(2px);
	.box-shadow(none);

	.panel-heading, .panel-body{
		position : relative;
	}

	.panel-heading{
		.border-radius(3px 3px 0px 0px);
		color            : @color-primary;
		border-color     : @color-border;
		background-color : @color-grey;
		border-bottom    : 1px solid transparent;
		display          : table-row;
		+ .panel-body{
			padding-top : 0px;
		}
	}

	.thead{
		display        : table-cell;
		vertical-align : middle;
		text-align     : center;
		height         : 45px;
		min-width      : 45px;
		border-bottom  : 1px solid @color-border;

		&.move-cal{
			.font-px-em(22);
			cursor : pointer;
		}

		&.cal-title{
			.font-size(13, font-semi-bold);
			text-transform : uppercase;
			width          : 100%;
		}
	}

	//ACTUAL CALENDAR ROW AND CELLS
	.panel-body{
		background-color : #ffffff;
		padding          : 8px;
		&:before, &:after{
			content : '';
			display : table;
		}

		.cal-row{
			display : block;
			width   : 100%;
			.cal-cell{
				display : inline-block;
				width   : 100% / 7;
			}

			&.calendar-week-names{
				.font-size(11, font-regular, @blue);
				text-transform : uppercase;
			}
		}

		.size-contain{
			width          : 100%;
			padding-bottom : 60%; //hack to retain squarebox
			display        : inline-block;
			position       : relative;
			content        : '';
			&:before, &:after{
				content : '';
				display : table;
			}

			.cal-btn-contain{
				top      : 0px;
				left     : 0px;
				width    : 100%;
				height   : 100%;
				position : absolute;
				padding  : 2px;
				.cal-btn{
					border           : 1px solid @color-border;
					color            : @color-primary;
					font-family      : font-regular;
					background-color : @color-grey;
					cursor           : pointer;
					width            : 100%;
					height           : 100%;
					.select-disabled();

					&.date-disabled{
						background-color : @white;
						color            : @color-border;
						border           : none;
					}

					&.selected{
						background-color : #009cff;
						border-color     : #009cff;
						color            : #ffffff;
					}
				}
			}
		}
	}
}

